
body {
  margin: 0;
  text-align: center;
  background-color: #0c0c0c;
}

h1 {
  font-family: 'Audiowide', cursive;
  color: #257ccd;
  font-size: 3em;
}

h2 {
  font-family: 'Audiowide', cursive;
  color: #e6e6e6;
  font-size: 2em;
}

/***** Main Grid Containers *****/

#container {
  #container {
    grid-template-areas:  "header header header"
                          "body body body"
                          "footer footer footer";
  }
}

.header {
  /*background-color: #093c6c;*/
  grid-area: header;
  color: #e6e6e6;
  z-index: 1;
}

.body {
  grid-area: body;
  background-color: #0c0c0c;
  position: relative;
}

.gutter-left {
  grid-area: nav;
  background-color: #2c83d0;
}

.gutter-right {
  grid-area: gtr-right;
  background-color: lightgrey;
}

.footer {
  grid-area: footer;
  background-color: #2f2f2f;
}



/****** Desktop View *******/
@media (min-width: 700px) {
  #container {
    display: grid;
    grid-template-areas:  "header header header"
                          "body body body"
                          "footer footer footer";

    grid-template-rows: 40vh 1fr 20px;
    grid-template-columns: 50px minmax(600px,1200px) 1fr;
    height: 100vh;
  }

  /*.header, .gutter-right {
    display: none;
  }*/

}


/*Page Content*/

.content {
  width: 90%;
  height: 90%;
  background-color: rgba(128, 12, 0, 0.06);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 100%;
  border-radius: 15px;
}

.scrollblock {
  height: 700px;
}

.partial {
  height: 150px;
  background-image: url("Assets/earth-view-from-satellite.jpg");
  background-position: right top;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}

.content-center {
  padding-top: 16%;
}

#first-block {
  background-image: url("Assets/857-tileable-classic-nebula-space-patterns/4.jpg");
  /*background-repeat: no-repeat;*/
  background-position: right top;
  background-attachment: fixed;
  background-size: 128%;
}

#earth-pic {
  width: 10vw;
}

/****Nav Bar*****/

.pre-nav {
  height: 32vh;
  position: relative;
  background-image: url("Assets/857-tileable-classic-nebula-space-patterns/4.jpg");
  background-position: right top;
  background-attachment: fixed;
  background-size: 128%;
  z-index: -1;
}

#header-text {
  position: absolute;
  right: 20%;
  top: 40%;
}

#moon {
  width: 8%;
  position: absolute;
  left: 15%;
  top: 17%;
  z-index: -5;
  transition: width .3s linear;
}

#rocket {
  width: 4%;
  position: absolute;
  bottom: -25%;
  left: -5%;
  z-index: -1;
  /* TODO: Add a shadow in the :after to show on moonface */
}

#saturn{
  width: 14%;
  position: absolute;
  right: -21%;
  top: -101%;
}

.nav {
  background-color: #093c6c;
  /*transition: box-shadow 0.3s ease-in-out;*/
  transition: background-color .7s ease-in-out;
  /*box-shadow: 0px 2px 13px #093c6c;*/ /*Peformance issues when fading*/
  z-index: 10;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.nav:after {
  content: "";
  display: table;
  clear: both;
}

.max-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
}

.nav-items {
  padding: 16px 0 16px 16px;
  font-family: 'Raleway', sans-serif;
  flex: 1;
}

.nav-items ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-items li {
  display: inline-block;
  font-size: 1.2em;
  line-height: 25px;
  margin: 0 10px;
}

.nav-items a {
  text-decoration: none;
  color: #e6e6e6;
  display: block;
  transition: .3s background-color;
}

.nav-items a.active {
  border-bottom: 1px solid #e6e6e6;
}

.nav-items a:hover {
  color: lightblue;
  border-bottom: 1px solid lightblue;
}
